/* ==========================================
   BASE.CSS
   Base body styles and global typography
   ========================================== */

/*
  Updated 6-17 at 3:20PM PST
*/
html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--black);
  line-height: 1.5;
}
